{% block content %}
    <!-- site navbar (will be included in other pages in most cases) -->
    <nav class="sticky-top navbar navbar-expand-xxl" style="background: royalblue">
        <h1 class="navbar-brand px-2 mb-auto fw-bolder text-white">Fakebook</h1>
        <div class="container">
            <div class="collapse navbar-collapse ms-4" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
              <!-- anonymous user sent to landing page, logged-in user sent to profile -->
                  <li class="nav-item">
                      {% if not user.is_authenticated %}
                          <a class="navbar-brand text-white" href="{% url 'home' %}">Home</a>
                      {% else %}
                          <a class="navbar-brand text-white" href="{% url 'profile' %}">Home</a>
                      {% endif %}
                  </li>
              <!-- button links to user list -->
                  <li class="nav-item">
                    <a class="navbar-brand text-white" href={% url 'users_list' %}>People</a>
                  </li>
                   <!-- drop down for more button links -->
                  <li class="nav-item dropdown">
                      <a class="navbar-brand dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
            <!-- search user form and field -->
              <form class="d-flex" role="search" action="{% url 'search_users' %}" method="get">
                <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search" >
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            </div>
        </div>
    <div class="mx-5 ms-0">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-light text-light" style="width: 80px" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="btn btn-outline-light text-light" style="width: 80px" href="{% url 'logout' %}">Login</a>
        {% endif %}
    </div>
</nav>
{% endblock content %}
