<!DOCTYPE html>
{% extends 'feed/base.html' %}
{% block content %}
    <button type="button" class="btn btn-danger btn-sm float-end" data-bs-toggle="modal" data-bs-target="#deletepost"
                        style="max-width: fit-content">Delete
    </button>
    <!-- Modal -->
    <div class="modal fade" id="deletepost" tabindex="-1" aria-labelledby="deletepostModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width: 500px">
          <div class="modal-header">
            <h5 class="modal-title" id="deletepostModalTitle">Delete Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="modal-body">
                Are you sure you want to delete this post?
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-danger" href="{% url 'post-delete' post.pk %}">Confirm Deletion</a>
             </div>
        </div>
      </div>
    </div>
{% endblock content %}
