{% extends 'feed/base.html' %} {% load crispy_forms_tags %} {% load static %} {% load feed_tags %}

{% block content %}
    {% include 'feed/navbar.html' %}
	<div class="container">
        {% if not posts %}
                <div class="d-flex justify-content-center">
                    <div class="col align-self-start">
                    </div>
                    <div class="col align-middle">
                      One of three columns
                    </div>
                    <div class="col align-self-end">
                    </div>
                  </div>
            {% endif %}
	    <div class="row justify-content-center">
	      <div class="col-md-5 me-4">
              <!--post list display-->
                <h6 class="fw-bolder text-dark mt-3">Posts</h6>
                {% for post in posts%}
                    <div class="card card-signin my-3" style="width: 500px">
                      <div class="card-body">
                      {% if post.shared_username %}
                          <div class="position-relative border-bottom mb-3">
                              {% if not request.user == post.shared_username%}
                                <a href="{{ post.shared_username.profile.get_absolute_url }}">
                                    <img src="{{ post.shared_username.profile.profile_pic.url }}"
                                         class="rounded-circle"
                                         width="30"
                                         height="30" alt=""></a>
                                <a class="text-dark" href="{{ post.shared_username.profile.get_absolute_url }}"><b>
                                    {{ post.shared_username }}</b></a>
                              {% else %}
                                <a href="{% url 'home' %}"><img src="{{ post.shared_username.profile.profile_pic.url }}"
                                                                class="rounded-circle" width="30" height="30" alt=""></a>
                                <a class="text-dark" href="{% url 'home' %}"><b>{{ post.shared_username }}</b></a>
                              {% endif %}
                              <br><small class="text-muted">Shared on {{post.shared_date}}</small>
                              {% if post.shared_description != none %}
                              <br>
                              <a class="post-link text-dark text-break text-decoration-none" href="{% url 'post-detail' post.pk%}">
                                  {{ post.shared_description }}</a>
                              {% endif %}
                          </div>
                          <!--shared post display-->
                          <div class="shared-post mx-4">
                            {% if not request.user == post.username%}
                            <a href="{{ post.username.profile.get_absolute_url }}"><img src="{{ post.username.profile.profile_pic.url }}"
                                                                                        class="rounded-circle" width="30"
                                                                                        height="30" alt=""></a>
                            <a class="text-dark" href="{{ post.username.profile.get_absolute_url }}"><b>{{ post.username }}</b></a>
                            {% else %}
                            <a href="{% url 'home' %}"><img src="{{ post.username.profile.profile_pic.url }}"
                                                            class="rounded-circle" width="30" height="30" alt=""></a>
                            <a class="text-dark" href="{% url 'home' %}"><b>{{ post.username }}</b></a>
                            {% endif %}
                            <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
                            <br>
                            <a class="post-link text-dark text-break text-decoration-none" href="{% url 'post-detail' post.pk %}">
                                {{ post.description }}</a>
                            {% if post.pic %}
                                <img class="mx-auto d-block" src="{{ post.pic.url }}" alt=" " style="max-block-size: 300px">
                            {% endif %}
                          </div>
                      {% else %}
                          <!-- delete post button -->
                          {% if request.user == post.username %}
                            <a type="button" class="float-end" data-bs-toggle="modal" data-bs-target="#deletepost"
                                                style="color: crimson"><i class="fa-solid fa-trash"></i>
                            </a>
                            {% endif %}
                            {% if request.user == post.shared_username %}
                            <a type="button" class="float-end" data-bs-toggle="modal" data-bs-target="#deletepost"
                                                style="color: crimson"><i class="fa-solid fa-trash"></i>
                            </a>
                            {% endif %}
                            <!-- Modal for deleting post confirmation -->
                            <div class="modal fade" id="deletepost" tabindex="-1" aria-labelledby="deletepostModalTitle"
                                 aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content" style="width: 500px">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="deletepostModalTitle">Delete Post</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this post?
                                    </div>
                                     <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a type="button" class="btn btn-danger" href="{% url 'post-delete' post.pk %}">Confirm Deletion</a>
                                     </div>
                                </div>
                              </div>
                            </div>
                            {% if not request.user == post.username%}
                            <a href="{{ post.username.profile.get_absolute_url }}"><img src="{{ post.username.profile.profile_pic.url }}"
                                                                                        class="rounded-circle" width="30"
                                                                                        height="30" alt=""></a>
                            <a class="text-dark" href="{{ post.username.profile.get_absolute_url }}"><b>{{ post.username }}</b></a>
                            {% else %}
                            <a href="{% url 'home' %}"><img src="{{ post.username.profile.profile_pic.url }}"
                                                            class="rounded-circle" width="30" height="30" alt=""></a>
                            <a class="text-dark" href="{% url 'home' %}"><b>{{ post.username }}</b></a>
                            {% endif %}
                        <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
                        <br>
                          <a class="post-link text-dark text-break text-decoration-none" href="{% url 'post-detail' post.pk %}">
                              {{ post.description }}</a>
                        <br>
                          {% if post.pic %}
                              <img class="mx-auto d-block" src="{{ post.pic.url }}" alt=" " style="max-block-size: 300px">
                          {% endif %}
                      {% endif %}
                      <!-- sharing post form -->
                        <form class="d-share" method="POST" action="{% url 'share-post' post.pk%}" id="{{ post.pk }}">
                          {% csrf_token %}
                          <fieldset class=form-group">
                              {{ share_form | crispy }}
                          </fieldset>
                            <div class="form-group float-end">
                                        <button class="btn btn-sm btn-primary btn-block text-uppercase" type="submit">
                                            Share!</button><br>
                            </div>
                      </form>
                      </div>
                      <div class="card-footer">
                      {% if not request.user == post.username and not request.user == post.shared_username%}
                            <!-- button for liking a post -->
                         <button class="btn like float-sm-start" id="{{ post.id }}">
                             {% if post in is_liked %}
                                 <a type="icon" class="btn btn-danger btn-sm" href="{% url 'post-like' %}"
                                    id="like-btn{{ post.id }}"><i class="fa-solid fa-heart-crack"></i></a>
                             {% else %}
                                 <a type="icon" class="btn btn-primary btn-sm" href="{% url 'post-like' %}"
                                    id="like-btn{{ post.id }}"><i class="fa-solid fa-heart"></i></a>
                             {% endif %}
                         </button>
                            <!-- button for sharing a post -->
                          <button class="btn btn-success btn-sm mt-2" onclick="ShareButton({{post.pk}})">Share Post</button>
                      {% endif %}
                        <!-- button for viewing comments/expanding specific post -->
                      <a class="btn btn-sm btn-primary mt-2 float-end" href="{% url 'post-detail' post.pk %}">View Comments</a>
                      </div>
                    </div>
                {% endfor %}
            <!-- if no user matches the search -->
              {% if not users %}
              <br /><br />
              <h2><i>No such users found!</i></h2>
              {% else %}
              <h6 class="fw-bolder text-dark mt-3">Users</h6>
              <div class="card card-signin">
                <div class="card-body">
                  {% for user_p in users %}
                  <a href="{{ user_p.profile.get_absolute_url }}"
                    ><img
                      src="{{ user_p.profile.profile_pic.url }}"
                      class="rounded mr-2"
                      width="40"
                      height="40"
                      alt=""
                  /></a>
                  <a class="text-dark" href="{{ user_p.profile.get_absolute_url }}" style="text-decoration: none">
                      <b>{{ user_p }}</b></a>

                      <!-- friend request buttons -->
                      {% if not user_p.profile in friends %}
                      {% if not user_p in sent%}
                      <small class="float-right">
                        <a class="btn btn-primary btn-sm mr-2" href="{% url 'send_friend_request' user_p.id %}">Add Friend</a>
                      </small>
                      {% else%}
                      <small class="float-right">
                        <a class="btn btn-warning btn-sm mr-2" href="{% url 'cancel_friend_request' user_p.id %}">Cancel Request</a>
                      </small>
                      {% endif %}
                      {% endif %}
                      <br /><br />
                    {% endfor %}
                </div>
              </div>
              {% endif %}
        </div>
      </div>
  </div>
{% endblock content %}
{% block jsfiles %}
    <!-- script for the like button -->
<script>
	$(".like").click(function (e) {
    var id = this.id;
    var counter = this.counter;
    var href = $('.like').find('a').attr('href');
    e.preventDefault();

    $.ajax({
        url: href,
        data: {
          'likeId': id
        },
        success: function(response){
          if(response.liked){
              $('#like-btn' + id).html('<i class="fa-solid fa-heart-crack"></i>');
              $('#like-btn' + id).css("background-color", "#dc3545")
              $('#like-btn' + id).css("border-color", "#dc3545")
          }
          else{
              $('#like-btn' + id).html('<i class="fa-solid fa-heart"></i>');
              $('#like-btn' + id).css("background-color", "#007bff")
              $('#like-btn' + id).css("border-color", "#007bff")

          }
        }
      })
});
</script>
    <!-- script for the share button -->
<script type="text/javascript" src={% static 'js/feed.js' %}></script>
{% endblock jsfiles %}