{% extends "feed/base.html" %} {% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center text-primary fw-bolder" style=""><b>Update Profile</b></h5>
          <form class="form-signup" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-signup">
              <br />
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
                <div class="vstack gap-2 col col- mx-auto">
                    <button
                        class="btn btn-success text-uppercase" style="max-inline-size: fit-content" type="submit"> Update
                    </button>
                    <small>
                        <p class="">
                            <a href="{% url 'home' %}"><b>Cancel</b></a>
                        </p>
                    </small>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
