{% extends "feed/base.html" %}
{% block content %}
{% include 'feed/navbar.html' %}
<div class="container">
  <div class="row">
  <div class="col-md-3">
      <div class="card card-signin my-5">
          <!-- card to show current user information on search page -->
        <a href="{% url 'profile' %}">
            <img class="rounded-circle d-block mx-auto mt-1" src="{{ request.user.profile.profile_pic.url }}"  alt=""  width="100" height="100"/>
        </a>
        <div class="card-body">
          <h5 class="card-title text-center">{{ request.user }}</h5>
          <h6 class="text-center">
            {{ request.user.profile.friends.count }}
            <p class="text-muted">Friends</p>
            <p class="text fw-bold">Bio</p>
          </h6>
          <p class="card-text text-center">{{ request.user.profile.bio }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
    <!-- if no user matches the search -->
      {% if not users %}
      <br /><br />
      <h2><i>No such users found!</i></h2>
      {% else %}
      <div class="card card-signin my-5">
        <div class="card-body">
        <form class="d-flex pb-2" role="search" action="{% url 'search_users' %}" method="get">
            <input class="form-control me-2" name="q" type="search" placeholder="Search users..." aria-label="Search" >
            <button class="btn btn-success" type="submit">Search</button>
        </form>
          {% for user_p in users %}
          <a href="{{ user_p.profile.get_absolute_url }}"
            ><img
              src="{{ user_p.profile.profile_pic.url }}"
              class="rounded mr-2"
              width="40"
              height="40"
              alt=""
          /></a>
          <a class="text-dark" href="{{ user_p.profile.get_absolute_url }}" style="text-decoration: none">
              <b>{{ user_p }}</b></a>

              <!-- friend request buttons -->
              {% if not user_p.profile in friends %}
              {% if not user_p in sent%}
              <small class="float-right">
                <a class="btn btn-primary btn-sm mr-2" href="{% url 'send_friend_request' user_p.id %}">Add Friend</a>
              </small>
              {% else%}
              <small class="float-right">
                <a class="btn btn-warning btn-sm mr-2" href="{% url 'cancel_friend_request' user_p.id %}">Cancel Request</a>
              </small>
              {% endif %}
              {% endif %}
              <br /><br />
            {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

